/*============================= Font  ===========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background-color: #F3F1FF;
  
}



footer{
  background-color: black;
  height: 250px;
  
}


#footer-menu a{
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  color: white;
}

#social-icon i{
  padding-left: 10px;
  color: rgb(19, 225, 225);
}
.course-units{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5px;
}


/*======================== Mobile Devices======================== */

@media only screen and (max-width:688px){
  
  #trusted-company{
    visibility: hidden;
  }

 #ready-to-join{
    display: flex;
    flex-direction: column;
    align-items: center;
 }


 .col-sm-6{
  width: 100%;
  margin: 10px;
 }

 

 
}


/*======================== Tablet Devices======================== */

@media only screen and (min-width:689px) and (max-width:992px){
  
  #trusted-company{
    visibility: hidden;
  }

  

   .col-sm-6{
    width: 100%;
    margin: 10px;
   }

}